body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(0, 0, 0);
    color: rgb(168, 180, 191);
    padding: 40px;
}

a {
    color: rgb(167, 139, 108);
}

.me {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

nav .brand-logo {
    padding-left: 20px;
}

section {
    /* width: 90%; */
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    padding: 40px;
    border: solid 2px rgb(77, 70, 57);
}

.project-img {
    max-width: 600px;
    width: 100%;
    /* height: 400px; */
    margin: auto;
    background-color: gray;
    border: solid 4px rgb(102, 91, 70);
}

.project1 {
    padding: 40px;
}

.project2 {
    padding: 40px;
}

.project3 {
    padding: 40px;
}